.App {
    background-color: lightsteelblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0px 20px;
}

.App-logo {
    animation: App-logo-spin infinite 50s linear;
    display: block;
    height: 25vmin;
    margin: 0 auto;
    pointer-events: none;
}

.App-container {
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    overflow-y: scroll;
    text-align: left;
    max-width: 500px;
    width: 100%;
}

.App-container>div {
    background: lightseagreen;
    padding: 0.25em 1em;
    font-weight: bolder;
    font-size: 14px;
    margin: 0.75em 0;
}

.App-container p:first-child {
    font-size: 12px;
}

.owner-message {
    background: lightslategray !important;
    display: flex;
    margin-left: 30px !important;
}

input {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    margin: 0.5em;
    padding: 10px;
    max-width: 500px;
    width: 100%;
    font-size: 15px;
}

::placeholder {
    color: #eee;
}

button {
    background: wheat;
    border: 1px solid white;
    color: green;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}